<!DOCTYPE html>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <header th:replace="layout/plantilla :: header" class="header"/>

        <div class="contenido">

            <!-- Esta es la Segunda parte donde se explica como llamar a un ARRAY -->
            <h2>Detalle de Articulos</h2>

            <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
            <hr>
                <br/>    

<!-- ----------------------findByDescripcion ----------------- -->
                <form th:action="@{/articulo/buscar/}">
                    <label>Buscar por Descripcion</label>
                    <input type="text" name="descripcion"/>
                    <br/>                
                    <input type="submit" name="buscar" value="Buscar"/>
                </form>
<!-- ----------------------findByDescripcion ----------------- -->
                <br/> 
                <br/>
                
                <div th:if="${articulos !=null and !articulos.empty}">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Existencias</th>
                                <th>Activo</th>
                                <th>Eliminar</th>
                                <th>Modificar</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr th:each="articulo : ${articulos}">
                                <td>[[${articulo.descripcion}]]</td>
                                <td style="text-align: right">[[${#numbers.formatDecimal(articulo.precio,3,2)}]]</td>
                                <td>[[${articulo.existencias}]]</td>
                                <td>[[${articulo.activo}]]</td>
                                <td><a th:href="@{/articulo/eliminar/}+ ${articulo.idArticulo}"/>Eliminar</td>
                                <td><a th:href="@{/articulo/modificar/}+ ${articulo.idArticulo}"/>Modificar</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>

                <div th:if="${articulos ==null or articulos.empty}">
                    <h4>No se tienen clientes que mostrar!</h4>
                </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" class="footer"/>  

    </body>
</html>
