<!DOCTYPE html>

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <header th:replace="layout/plantilla :: header" class="header"/>

        <div class="contenido">

            <!-- Esta es la Segunda parte donde se explica como llamar a un ARRAY -->
            <h2>[[#{categoria.titulo}]]</h2>

            <a th:href="@{/categoria/nuevo}">[[#{categoria.nuevo}]]</a>
            <hr>
                <br/>    

<!-- ----------------------findByDescripcion----------------- -->
                <form th:action="@{/categoria/buscar/}">
                    <label>[[#{categoria.buscarape}]]</label>
                    <input type="text" name="descripcion"/>
                    <br/>                
                    <input type="submit" name="buscar" value="Buscar"/>
                </form>
<!-- ----------------------findByDescripcion----------------- -->


                <br/> 
                <br/>
                

                <div th:if="${categorias !=null and !categorias.empty}">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>[[#{categoria.descripcion}]]</th>
                                <th>[[#{categoria.activo}]]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Para cada CLIENTE taer lo que hay en la lista de CLIENTES -->
                            <tr th:each="categoria : ${categorias}">
                                <td>[[${categoria.descripcion}]]</td>
                                <td>[[${categoria.activo}]]</td>
                                <td><a th:href="@{/categoria/eliminar/}+ ${categoria.idCategoria}"/>[[#{accion.eliminar}]]</td>
                                <td><a th:href="@{/categoria/modificar/}+ ${categoria.idCategoria}"/>[[#{accion.actualizar}]]</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>

                <div th:if="${categorias ==null or categorias.empty}">
                    <h4>[[#{categoria.no_mostrar}]]</h4>
                </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" class="footer"/>  

    </body>
</html>
